
<div class="slider">
    <app-slider></app-slider>
</div>

<!-- <div class="searcher">
    <div class="paginator">
        <button (click)="previousPage()" class="primary-button">Anterior</button>
        <p class="paginator-number">{{page}}</p>
        <button (click)="nextPage()" class="primary-button">Siguiente</button>
    </div>
    
    <div class="searcher-bar">
        <app-searcher></app-searcher>
    </div>
</div> -->

<div class="products--grid">
    <app-product 
        [product]="product" 
        *ngFor="let product of products" 
        (addedProduct)="addToShoppingCart($event)"
        (showProduct)="onShowDetail($event)"
    ></app-product>
</div>

<div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen">
        <p>{{ productChosen.descripcion }}</p>
        <button (click)="toggleProductDetail()">
            Cerrar
        </button>
        <app-slider></app-slider>
        <p>{{ productChosen.Description_Store }}</p>
    </div>
</div>

