// :root {
//     --white: #FFFFFF;
//     --black: #000000;
//     --very-light-pink: #C7C7C7;
//     --text-input-field: #F7F7F7;
//     --hospital-green: ##FF2400;
//     --sm: 14px;
//     --md: 16px;
//     --lg: 18px;
// }
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 90%;
    margin-bottom: 48px;
    justify-self: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.form a {
    color: #FF2400;
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.form a:hover {
    background-color: #800000;
    height: 20px;
    color: #F7F7F7;
    border-radius: 8px;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    color: #800000;
}
.input {
    background-color: #F7F7F7;
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-email {
    margin-bottom: 22px;
}
.primary-button {
    background-color: #FF2400;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.primary-button:hover {
    background-color: #FFFFFF;
    color: #FF2400;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}
.secondary-button {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #FF2400;
    color: #FF2400;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.secondary-button:hover {
    background-color: #FF2400;
    color: #FFFFFF;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
