<form action="">
    <label for=""></label>
    <input type="text">    
    <label for=""></label>
    <input type="number">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
</form>