.paginator {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}

.paginator-number {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 600;
}

.primary-button {
    background-color: #FF2400;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    width: 10%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
}