<div class="register">
    <div class="form-container">
        <img src="https://scontent.fbog11-1.fna.fbcdn.net/v/t39.30808-6/242795402_1064523574366254_8061267841458502044_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGlWpEEuhrnetZ_EGsXMHf_trDeqeZO-JK2sN6p5k74ktPsjfG7plzejEpVF79hfaA&_nc_ohc=1cwp41tXqdcAX_cN4CM&_nc_ht=scontent.fbog11-1.fna&oh=00_AfBSZBKDrg0HKOSMEomLn141lkT8Okvz5w3Yr7MwtlGfXg&oe=64F3D6AC" alt="logo" class="logo">

        <h1 class="title">My account</h1>

        <form action="/" class="form">
            <div>
                <label for="name" class="label">Name</label>
                <input type="text" id="name" placeholder="Administrador" class="input input-email">

                <label for="email" class="label">Email</label>
                <input type="email" id="email" placeholder="conexion@pos.com" class="input input-password">

                <label for="password" class="label">Password</label>
                <input type="password" id="password" placeholder="*********" class="input input-password">
            </div>

            <input type="submit" value="Registrarse" class="secondary-button login-button">
        </form>
    </div>
</div>
