<h2>Cargador de imagenes para Productos</h2>
<img [src]="default" alt="Imagen del producto">
<br>
<!-- <input (change)="captureFile( $event )" type="file"> -->

<form class="form" [formGroup]="uploadImgForm" (ngSubmit)="uploadImg()">

    <div class="input-file">
        <label for="product-img">Imagen del producto</label>
        <br>
        <input name="product-img" formControlName="url" type="file" accept="image/*" (change)="selectImg( $event )">
    </div>

    <button class="primary-button" type="submit" >
        Guardar
    </button>
</form>
