<div class="cart-table">
    <h2>Carrito</h2>
    <table class="default" *ngIf="products.length; else noProducts">
        <tr class="tr-title">
            <th>Producto</th>
            <th class="description">Descripción</th>
            <th>Cantidad</th>
            <th class="description">Unitario</th>
            <th>Total</th>
            <th>Acción</th>
        </tr>
        <tr *ngFor="let product of products" class="tr-products">
            <td>
                <a [routerLink]="'store/info'">
                    <img src="assets/png/logo_celulares.png" alt="" class="info-product" [alt]="product.descripcion">
                </a>
            </td>
            <td class="prod-description">
                {{ product.descripcion}}
            </td>
            <td>
                <div class="add-product">
                    <a type="button" (click)="updateUnitProduct('minus', product.idproducto)">
                        <img src="assets/png/IcoMenos-n.png" alt="disminuir producto">
                    </a>
                    <p class="store">
                        &nbsp;{{ product.store }}&nbsp; 
                    </p>
                    <a type="button" (click)="updateUnitProduct('plus', product.idproducto)">
                        <img src="assets/png/IcoMas-n.png" alt="disminuir producto">
                    </a>
                </div>
            </td>
            <td class="prod-description_price">
               $ {{ product.precioventa }}
            </td>
            <td class="totalForProduct">
                $ {{ product.precioventa *  product.store  }}
            </td>
            <td>
                <button class="delete" (click)="deleteProduct(product.idproducto)">
                    <img src="assets/svg/delete.svg" alt="Boton de borrado general" class="delete-button">
                </button>
            </td>
        </tr>
        <tr class="tr-total-fact">
            <td class="totalFact-td">Gran Total</td>
            <td class="totalFact-td">$ {{ getTotal() }}</td>
            <td>
                <button class="primary-button">
                    Confirmar
                </button>
            </td>
        </tr>
    </table>
    <ng-template #noProducts>
        <p class="message">No hay productos agregados al carrito</p>
    </ng-template>
</div>
<app-customer></app-customer>