h2 {
    text-align: center;
    font-size: 2em;
    margin: 2% 0;
}
.add-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 1%;
}
.add-product a img {
    width: 35px;
    height: 35px;
}
.cart-table {
    margin: 1%;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}
.default {
    width: 100%;
    margin: 1%;
    height: 2%;
}

.tr-title {
    border: 1px solid white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20px;
    grid-gap: 2%;
    margin: 1%;
    width: 96%;
}
.tr-products {
    border: 1px solid white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px;
    grid-gap: 2%;
    margin: 1%;
    width: 96%;
}
th {
    color: #fff;
    display: grid;
    font-size: 1.1em;
    font-weight: 600;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    width: 100%;
    margin-left: 15%;
    text-align: center;
}
td {
    height: 40px;
}
.totalForProduct {
    margin: 35% auto;
    height: 20px;
}
.info-product {
    width:55px;
    height:55px;
    margin: 5% 15%;
}
.description {
    display: none;
}
.store {
    font-weight: 900;
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin: -2% auto 0;
}
.delete {
    background-color: transparent;
    border: none;
    margin: 8% auto;
}
.delete-button {
    width: 45px;
    height: 45px;
}
.tr-total-fact {
    border: 1px solid white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin: 1%;
    width: 96%;
    height: 25px;
}
.totalFact-td {
    display: flex;
    width: 2% !important;
    text-align: center;
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .tr-title, .tr-products {
        grid-template-columns: repeat(6, 1fr);
    }
    .totalFact {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
        margin-left: 49%;
        width: 50%;
    }
    .description {
        display: block;
    }
}
/* Large and up */
@media screen and (min-width: 64em) {
    .tr-title, .tr-products {
        grid-template-columns: repeat(6, 1fr);
    }
    .totalFact {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;
        margin-left: 49%;
        width: 50%;
    }
    .description {
        display: block;
    }
}