<div class="cart-table">
    <h2>Carrito</h2>
    <table class="default">
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acción</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>
                <img src="../../../assets/shopping-cart-light.svg" alt="">
            </td>
            <td>
           {{ product.descripcion }}
            </td>
            <td>
                <div class="add-product">
                    <button>-</button>
                    <p>
                        
                    </p>
                    <button>+</button>
                </div>
            </td>
            <td>{{ product.precioventa}}</td>
            <td></td>
            <td>
                <button>
                    Eliminar
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="client-form">
    <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <h2>Creacion de cliente</h2>
        <div class="first-row">

            <label for="nit">Nit o C.C</label>
            <input
                type="text"
                formControlName="nit"
                placeholder="C.C o Nit"
            >  
        
            <label for="digit">Código de verificacion</label>
            <input
                type="number"
                formControlName="digit"
                placeholder="Digito de Verificacion"
                class="digito"
            >

            <label for="document">Tipo de Documento</label>
            <select name="document"  id="document" formControlName="document">
                <option value="">Tipo de Documento</option>
                <option value="regCiv">Registro Civil</option>
                <option value="tI">Tarjeta de Identidad</option>
                <option value="cedCiu">Cédula de Ciudadanía</option>
                <option value="tiExt">Tarjeta de Extranjería</option>
                <option value="cedExt">Cédula de Extranjería</option>
                <option value="nit">N.I.T.</option>
                <option value="passport">Pasaporte</option>
                <option value="docIdEx">Documento de Identificación Extranjero</option>
                <option value="nitOP">N.I.T. de otro País</option>
                <option value="nuip">N.U.I.P</option>
            </select>

        </div>
        <div class="principal-row">
            <label for="">Primer Nombre</label>
            <input
                type="text"
                formControlName="firstName"
                placeholder="Primer Nombre"
            >
            <label for="">Segundo Nombre</label>
            <input
                type="text"
                formControlName="secondName"
                placeholder="Segundo Nombre"
            >
            <label for="">Primer Apellido</label>
            <input
                type="text"
                formControlName="firstLastName"
                placeholder="Primer Apellido"
            >
            <label for="">Segundo Apellido</label>
            <input
                type="text"
                formControlName="secondLastName"
                placeholder="Segundo Apellido"
            >
            <label for="">Dirección</label>
            <input
                type="text"
                formControlName="address"
                placeholder="Dirección"
            >
            <label for="">Teléfono</label>
            <input
                type="text"
                formControlName="phone"
                placeholder="Teléfono"
            >
            <label for="">Correo Electrónico</label>
            <input
                type="email"
                formControlName="email"
                placeholder="Correo Electrónico"
            >
            <label for="">Segundo Correo Electrónico</label>
            <input
                type="email"
                formControlName="confEmail"
                placeholder="Segundo Correo Electrónico">
        </div>
        <div class="localization">
            <label for="country">Pais</label>
            <select name="country" id="country" formControlName="country">
                <option *ngFor="let country of countries; index as i" [value]="country.idpais">
                    {{ country.nompais }}
                </option>
            </select>
        
            <label for="department">Departamento</label>
            <select name="department" id="department" formControlName="department">
                <option *ngFor="let department of departments; index as i" [value]="department.iddepto">
                    {{ department.nomdepartamento }}
                </option>
            </select>
        
            <label for="town">Municipalities</label>
            <select name="town" id="town" formControlName="town">
                <option *ngFor="let municipality of municipalities; index as i" [value]="municipality.idmunicipio">
                    {{ municipality.nommunicipio }}
                </option>
            </select>
        </div>
        <div class="last-row">
            <label for="bill">Tipo de Factura</label>
            <select name="bill" id="bill">
                <option value="">Seleccione una</option>
                <option value="pos">P.O.S.</option>
                <option value="factElec">Factura Electrónica</option>
            </select>
        </div>

        <input type="submit" value="Guardar" class="primary-button" [disabled]="createUserForm.invalid">
    </form>
</div>