.product-card {
    border: 1px solid #FFFFFF;
    border-radius: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}
.card-body_price, .card-body_tittle {
    font-weight: 700;
}
.card-body_description {
    font-style: italic;
}

p, h2 {
    margin: .5em .5em;
    padding: 1%;
}

.button-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}

.primary-button {
    background-color: #FF2400;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    width: 40%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    margin: 1% 30%;
}