<div class="product-card">
    <a [routerLink]="['/product-info', product.idproducto ]">
        <app-img [img]="product.Urls_Img"></app-img>
    </a>
    <h2>{{ product.precioventa | currency }}</h2>
    <p>{{ product.descripcion }}</p>
    <!-- <p>{{ product.Description_Store }}</p> -->
    
    <div class="button-card">
        <button (click)="onShowDetail()" class="primary-button">
            Más...
        </button>
        <span class="spacer"></span>
        <button (click)="onAddToCart()" class="primary-button add-to-cart-button">
            Añadir
        </button>
    </div>
</div>
