<div class="product-card">
    <a [routerLink]="['/store/product-info', product.idproducto ]">
        <app-img [img]="product.Urls_Img"></app-img>
    </a>
    <div class="card-body">
        <h2 class="card-body_price">{{ product.precioventa | currency }}</h2>
        <p class="card-body_tittle">{{ product.descripcion }}</p>
        <p class="card-body_description">{{ product.Description_Store | lowercase }}</p>
    </div>
    <div class="button-card">
        <button [routerLink]="['/store/product-info', product.idproducto]" class="primary-button">
            Más...
        </button>
        <span class="spacer"></span>
        <button (click)="onAddToCart()" class="primary-button add-to-cart-button">
            Añadir
        </button>
    </div>
</div>
