<swiper-container navigation="true" pagination="true" pagination-clickable="true" autoplay="true">
    <swiper-slide *ngFor="let img of images">
        <img [src]="img" alt="" class="slider-img">
        <!-- <img src="https://images.pexels.com/photos/1029598/pexels-photo-1029598.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="slider-img"> -->
    </swiper-slide>
    <!-- <swiper-slide>
        <img src="https://images.pexels.com/photos/208698/pexels-photo-208698.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="slider-img">
    </swiper-slide>
    <swiper-slide>
        <img src="https://images.pexels.com/photos/2861655/pexels-photo-2861655.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="slider-img">
    </swiper-slide> -->
</swiper-container>
