<button class="primary-button" (click)="generateOrder()">
    Confirmar Orden
</button>
<div class="dialog" *ngIf="orderResp.order.numero > 0">
    <h3 class="title">Orden # {{ orderResp.order.numero }}</h3>
    <div class="body">
        <div class="detail">
            <ul>
                <li>
                    <label class="label">Nombre:</label>
                    <br>
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.nombres }}">
                </li>
                <li>
                    <label class="label">Apellido:</label>
                    <br>
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.apellidos }}">
                </li>
                <li>
                    <label class="label">Identificacion:</label>
                    <br>
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.nit }}">
                </li>
                <li>
                    <label class="label">Correo:</label>
                    <br>                
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.email }}">
                </li>
                <li>
                    <label class="label">Subtotal:</label>
                    <br>                
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.subtotal }}">
                </li>
                <li>
                    <label class="label">Impuesto:</label>
                    <br>                
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.valor_impuesto }}">
                </li>
                <li>
                    <label class="label">TOTAL:</label>
                    <br>                
                    <input class="input" readonly="readonly" placeholder="{{ orderResp.order.valortotal }}">
                </li>
            </ul>
        </div>
        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th>Descr.</th>
                        <th>Valor</th>
                        <th>Cant.</th>
                    </tr>
                </thead>
                <tr *ngFor="let product of orderResp.products">
                    <td>{{ product.descripcion | slice:0:10 }}...</td>
                    <td>{{ product.valorprod }}</td>
                    <td>{{ product.cantidad }}</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="primary-button" (click)="payOrder()">
        PAGAR
    </button>

</div>
<ng-template #loading>
    Cargando...
</ng-template>
