h2 {
    text-align: center;
    font-size: 2em;
    margin: 3%;
}
.container {
    margin: 2%;
}
.navbar {
    width: 100%;
}
.main {
    display: flex;
    margin: 2% 0;
}
.sidebar {
    display: none;
}
.page {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}
.logout {
    cursor: pointer;
}
// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .sidebar {
        display: block;
        width: 20%;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
    }
    .sidebar li {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5%;
        margin: 2%;
        text-align: center;
        width: 85%;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #fff;
    }
    .page {
        width: 80%;
        margin: 0 0 0 1%;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
    }
}

// web
@media screen and (min-width: 64em){
    .sidebar {
        display: block;
        width: 20%;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
    }

    .sidebar li {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5%;
        margin: 2%;
        text-align: center;
        width: 85%;
    }
    
    .sidebar a {
        text-decoration: none;
        color: #fff;
    }
    .page {
        width: 80%;
        margin: 0 0 0 1%;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
    }
}