
<div class="slider" *ngIf="!showProductDetail">
    <app-slider></app-slider>
</div>

<div class="products--grid">
    <app-product 
        [product]="product" 
        *ngFor="let product of products" 
        (addedProduct)="addToShoppingCart($event)"
        (showProduct)="onShowDetail($event)"
    ></app-product>
</div>

<div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen" class="product-info">
        <div class="slider">
            <app-slider></app-slider>
        </div>
        <h2 class="product-info_title">{{ productChosen.descripcion }}</h2>
        <hr>
        <p class="product-info_price">${{ productChosen.precioventa}}</p>
        <br>
        <p class="product-info_description">{{ productChosen.Description_Store | lowercase }}</p>
        <br>
        <div class="buttons">
            <button type="button" (click)="toggleProductDetail()" class="primary-button">
                Cerrar
                <img src="assets/svg/close.svg" alt="close button" class="primary-button_img">
            </button>
        </div>
    </div>
</div>

