.searcher-bar {
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 70%;
    margin-left: 15%;
}

.searcher-bar_input {
    width: 100%;
    border-radius: 5px;
}

.searcher-bar_img {
    width: 10%;
    height: 35px;
    display: none;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .searcher-bar_img {
        display: block;
        height: 30px;
    }
}
