.footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 97.5%;
    border: 1px solid white;
    margin: 3% 1%;
    border-radius: 5px;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}

.conexion, .syscomp {
    display: block;
}

h3, h6 { 
    color: white;
    text-align: center;
    font-style: italic;
    padding: 2% 0;
}

img {
    width: 100%;
}

.syscomp img {
    margin-left: 10%;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .footer {
        width: 98%;
        height: 200px;
        margin: 1% 1%;
    }

    
}

/* Large and up */
@media screen and (min-width: 64em) {
    
}