.footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.conexion, .syscomp {
    display: block;
}

h3, h6 { 
    color: white;
}

img {
    margin-left: 40%;
}