.product-card {
    border: 1px solid #800000;
    border-radius: 2%;
    margin-bottom: 2%;
}

p, h2 {
    margin: 0 0 0.5em 0;
    padding: 1%;
}

.button-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-button {
    background-color: #FF2400;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    width: 40%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}