<div class="client-form">
    <h2>Ingresa tus datos</h2>

    <!-- Asking customer registered -->
    <div class="buttons" *ngIf="!nitFound" >

        <button class="primary-button" (click)="newCustomer()">
            Cliente Nuevo
        </button>

        <button class="primary-button" (click)="alreadyCustomer()">
            Ya soy cliente
        </button>
    </div>

    <!-- ////////// Create Customer \\\\\\\\\\ -->
    <div class="total-form" *ngIf="nitFound && crear; else Edit" [ngClass]="{'total-form': nitFound }">
        <!-- Nit -->
        <div class="edit">
            <div class="notificacion">
                <label for="nit">Nit o C.C</label>
                <input
                    type="number"
                    name="nit"
                    [(ngModel)]="id.nit"
                    placeholder="Introduzca # identificación y presione enter"
                    (keyup.enter)="calcular()"
                    require
                >
                <span class="error-mesage" *ngIf="">
                    *Este campo es requerido
                </span>                
            </div>
        </div>
        
        <form [formGroup]="customerForm" (ngSubmit)="createCustomer()" autocomplete="off" *ngIf="id.nit">
            <!-- First Row -->
            <div class="first-row">
                
                <label for="digit">Código de verificación</label>
                <input
                    formControlName="digito"
                    placeholder="Este código se genera automáticamente"
                    class="digito"
                    readonly="readonly"
                >
                <span class="error-mesage" *ngIf="isValidField('digito')">
                    {{ getFieldError('digito')}}
                </span>

                <label for="TipoId">Tipo de Documento</label>
                <div class="notificacion">
                    <select name="TipoId"  id="TipoId" formControlName="TipoId">
                        <option *ngFor="let id of tipoId; index as i" [value]="id.TipoId">
                            {{ id.Documento }}
                        </option>
                    </select>
                    <span class="error-mesage" *ngIf="isValidField('TipoId')">
                        {{ getFieldError('TipoId')}}
                    </span>
                </div>              

            </div>
            <!-- Principal Row -->
            <div class="principal-row">

                <label for="nombres">Primer Nombre</label>
                <div class="notificacion">
                    <input
                        type="text"
                        formControlName="nombres"
                        placeholder="Primer Nombre"
                    >
                    <span class="error-mesage" *ngIf="isValidField('nombres')">
                        {{ getFieldError('nombres')}}
                    </span>
                </div>

                <label for="nombre2">Segundo Nombre</label>
                <input
                    type="text"
                    formControlName="nombre2"
                    placeholder="Segundo Nombre"
                >
                <label for="apellidos">Primer Apellido</label>
                <input
                    type="text"
                    formControlName="apellidos"
                    placeholder="Primer Apellido"
                >
                <label for="apellido2">Segundo Apellido</label>
                <input
                    type="text"
                    formControlName="apellido2"
                    placeholder="Segundo Apellido"
                >
                <label for="direccion">Dirección</label>
                <input
                    type="text"
                    formControlName="direccion"
                    placeholder="Dirección"
                >
                <span class="error-mesage" *ngIf="isValidField('direccion')">
                    {{ getFieldError('direccion')}}
                </span>

                <label for="telefono">Teléfono</label>
                <div class="notificacion">
                    <input
                        type="number"
                        formControlName="telefono"
                        placeholder="Teléfono"
                    >
                    <span class="error-mesage" *ngIf="isValidField('telefono')">
                        {{ getFieldError('telefono')}}
                    </span>
                </div>
                <label for="email">Correo Electrónico</label>
                <div class="notificacion">
                    <input
                        type="email"
                        formControlName="email"
                        placeholder="Correo Electrónico"
                    >
                    <span class="error-mesage" *ngIf="isValidField('email')">
                        {{ getFieldError('email')}}
                    </span>
                </div>
                <label for="email2">Correo Alternativo</label>
                <input
                    type="email"
                    formControlName="email2"
                    placeholder="Correo Alternativo">
            </div>
            <!-- Localization -->
            <div class="localization">
                <label for="idpais">Pais</label>
                <select name="idpais" id="idpais" formControlName="idpais">
                    <option *ngFor="let country of countries; index as i" [value]="country.idpais">
                        {{ country.nompais }}
                    </option>
                </select>
                <span class="error-mesage" *ngIf="isValidField('idpais')">
                    {{ getFieldError('idpais')}}
                </span>
            
                <label for="iddepto">Departamento</label>
                <select name="iddepto" id="iddepto" formControlName="iddepto">
                    <option *ngFor="let department of departments; index as i" [value]="department.iddepto">
                        {{ department.nomdepartamento }}
                    </option>
                </select>
                <span class="error-mesage" *ngIf="isValidField('iddepto')">
                    {{ getFieldError('iddepto')}}
                </span>
            
                <label for="idmunicipio">Municipio</label>
                <select name="idmunicipio" id="idmunicipio" formControlName="idmunicipio">
                    <option *ngFor="let municipality of municipalities; index as i" [value]="municipality.idmunicipio">
                        {{ municipality.nommunicipio }}
                    </option>
                </select>
                <span class="error-mesage" *ngIf="isValidField('idmunicipio')">
                    {{ getFieldError('idmunicipio')}}
                </span>
            </div>
            <!-- Last Row -->
            <div class="last-row">
                <label for="tipofactura">Tipo de Factura</label>
                <div class="notificacion">
                    <select name="tipofactura" id="tipofactura" formControlName="tipofactura">
                        <option value="">Seleccione una</option>
                        <option value="1">P.O.S.</option>
                        <option value="2">Factura Electrónica</option>
                    </select>
                    <span class="error-mesage" *ngIf="isValidField('tipofactura')">
                        {{ getFieldError('tipofactura')}}
                    </span>
                </div>
            </div>

            <input type="submit" value="Guardar" class="primary-button" [disabled]="customerForm.invalid">
        </form>
        <button (click)="back()" class="primary-button">Regresar</button>
    </div>

    <!-- ////////// Update Customer \\\\\\\\\\ -->
    <ng-template #Edit>
        <div class="total-form" *ngIf="nitFound" [ngClass]="{'total-form': nitFound }">
            <!-- Nit -->
            <div class="edit">
                <div class="notificacion">
                    <label for="nit">Nit o C.C</label>
                    <input
                        type="text"
                        name="nit"
                        [(ngModel)]="id.nit"
                        placeholder="Introduzca # identificación y presione enter"
                        (keyup.enter)="searchCustomer()"
                        require
                    >
                </div>
            </div>
            
            <form [formGroup]="customerForm" (ngSubmit)="updateCustomer()" autocomplete="off" *ngIf="id.nit">
                <!-- First Row -->
                <div class="first-row">
                    
                    <label for="digit">Código de verificación</label>
                    <input
                        formControlName="digito"
                        placeholder="Este código se genera automáticamente"
                        class="digito"
                        readonly="readonly"
                    >
                    <label for="TipoId">Tipo de Documento</label>
                    <div class="notificacion">
                        <select name="TipoId"  id="TipoId" formControlName="TipoId">
                            <option *ngFor="let id of tipoId; index as i" [value]="id.TipoId">
                                {{ id.Documento }}
                            </option>
                        </select>
                    </div>              
    
                </div>
                <!-- Principal-row -->
                <div class="principal-row">
    
                    <label for="">Primer Nombre</label>
                    <div class="notificacion">
                        <input
                            type="text"
                            formControlName="nombres"
                            placeholder="Primer Nombre"
                        >
                    </div>
    
                    <label for="">Segundo Nombre</label>
                    <input
                        type="text"
                        formControlName="nombre2"
                        placeholder="Segundo Nombre"
                    >
                    <label for="">Primer Apellido</label>
                    <input
                        type="text"
                        formControlName="apellidos"
                        placeholder="Primer Apellido"
                    >
                    <label for="">Segundo Apellido</label>
                    <input
                        type="text"
                        formControlName="apellido2"
                        placeholder="Segundo Apellido"
                    >
                    <label for="">Dirección</label>
                    <input
                        type="text"
                        formControlName="direccion"
                        placeholder="Dirección"
                    >
                    <label for="">Teléfono</label>
                    <div class="notificacion">
                        <input
                            type="text"
                            formControlName="telefono"
                            placeholder="Teléfono"
                        >
                    </div>
                    <label for="">Correo Electrónico</label>
                    <div class="notificacion">
                        <input
                            type="email"
                            formControlName="email"
                            placeholder="Correo Electrónico"
                        >
                    </div>
                    <label for="">Correo Alternativo</label>
                    <input
                        type="email"
                        formControlName="email2"
                        placeholder="Correo Alternativo">
                </div>
                <!-- Localization -->
                <div class="localization">
                    <label for="idpais">Pais</label>
                    <select name="idpais" id="idpais" formControlName="idpais">
                        <option *ngFor="let country of countries; index as i" [value]="country.idpais">
                            {{ country.nompais }}
                        </option>
                    </select>
                
                    <label for="iddepto">Departamento</label>
                    <select name="iddepto" id="iddepto" formControlName="iddepto">
                        <option *ngFor="let department of departments; index as i" [value]="department.iddepto">
                            {{ department.nomdepartamento }}
                        </option>
                    </select>
                
                    <label for="idmunicipio">Municipio</label>
                    <select name="idmunicipio" id="idmunicipio" formControlName="idmunicipio">
                        <option *ngFor="let municipality of municipalities; index as i" [value]="municipality.idmunicipio">
                            {{ municipality.nommunicipio }}
                        </option>
                    </select>
                </div>
                <!-- Last row -->
                <div class="last-row">
                    <label for="tipofactura">Tipo de Factura</label>
                    <div class="notificacion">
                        <select name="tipofactura" id="tipofactura" formControlName="tipofactura">
                            <option value="">Seleccione una</option>
                            <option value="1">P.O.S.</option>
                            <option value="2">Factura Electrónica</option>
                        </select>
                    </div>
                </div>
    
                <input type="submit" value="Editar" class="primary-button" [disabled]="customerForm.invalid">
            </form>
            <button (click)="back()" class="primary-button">Regresar</button>
        </div>
    </ng-template>
</div>