.searcher-bar {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.searcher-bar_input {
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.searcher-bar_button {
    background: transparent;
}

.searcher-bar_img {
    width: 10%;
    height: 35px;
    display: none;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .searcher-bar {
        width: 100%;
    }
    .searcher-bar_img {
        display: block;
        height: 30px;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .searcher-bar {
        border-radius: 5px;
        flex-grow: 1;
        width: 100%;
    }
    .searcher-bar_img {
        display: block;
        height: 30px;
    }
}
