h2 {
    text-align: center;
    font-size: 2em;
}

.categories {
    margin: 1%;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 10px 8px 15px rgba(000, 000,  000, 0.5);
}

.categoryList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
}

.categoryList li {
    justify-content: center;
    align-items: center
    ;
    margin: 2% auto;
}

.primary-button {
    background-color: #FF2400;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 35px;
}

.products--grid {
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}


// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .products--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    .categoryList {
        grid-template-columns: repeat(4, 1fr);
    }
}

// web
@media screen and (min-width: 64em){
    .products--grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
    .categoryList {
        grid-template-columns: repeat(6, 1fr);
    }
}