<div>
    <app-searcher (searchProduct)="searchCategory( $event )"></app-searcher>
</div>
<div class="categories">
    <h2>Categorias</h2>
    <br>
    <ul class="categoryList">
        <li *ngFor="let category of categories">
            <button (click)="categorySelected(category.nombre)" class="primary-button">
                {{ category.nombre }}
            </button>
            <!-- <input
                type="button"
                value="{{ category.nombre }}"
                (click)="categorySelected(category.nombre)"
                class="primary-button"
            > -->
        </li>
    </ul>
    <div class="products--grid">
        <app-product 
            [product]="product" 
            *ngFor="let product of products" 
            (addedProduct)="addToShoppingCart($event)"
        >
    </app-product>
    </div>
</div>

