<div class="categories">
    <h2>Categorias</h2>
    <div class="categoryList">
        <ul>
            <li *ngFor="let category of categories; index as i">
                <input type="button" value="{{ category.nombre }}" (click)="categorySelected(i)">
            </li>
        </ul>
    </div>
    <div class="products--grid">
        <app-product 
            [product]="product" 
            *ngFor="let product of products" 
            ></app-product>
            <!-- (addedProduct)="addToShoppingCart($event)"
            (showProduct)="onShowDetail($event)" -->
    </div>
</div>

