<div class="categories">
    <h2>Categorias</h2>
    <br>
    <ul class="categoryList">
        <li *ngFor="let category of categories; index as i">
            <input type="button" value="{{ category.nombre }}" (click)="categorySelected(i)" class="primary-button">
        </li>
    </ul>
    <div class="products--grid">
        <app-product 
            [product]="product" 
            *ngFor="let product of products" 
            (addedProduct)="addToShoppingCart($event)"
        >
        </app-product>
            <!-- (showProduct)="onShowDetail($event)" -->
    </div>
</div>

