<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()">
            <img src="../../../assets/logo_celulares.png" alt="menu" class="logo-menu">
        </button>
        <div class="searcher-bar">
            <app-searcher></app-searcher>
        </div>
        <div class="info">
            <div class="account">conexionPos@syscomp.com</div>
            <div class="cart">
                <a routerLink="/store/cart">
                    <img src="../../../assets/shopping-cart-light.svg" alt="logo" class="shopping-cart">
                </a>
                <div class="cart-counter">
                    <p class="counter">{{ counter }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="side-menu" [class.active]="activeMenu">
        <button (click)="toggleMenu()">
            Close
        </button>
        <ul>
            <li>
                <a routerLink="/store/products">Productos</a>
            </li>
            <li>
                <a routerLink="/store/categories">Categorias</a>
            </li>
        </ul>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="">
            <img src="../../../assets/logo_celulares.png" alt="logo" class="logo-menu">
            </a>
            <ul>
                <li>
                    <a routerLink="/store/products">Productos</a>
                </li>
                <li>
                    <a routerLink="/store/categories">Categorias</a>
                </li>
            </ul>
        </nav>
        <div class="searcher">
            <div>
                <app-searcher></app-searcher>
            </div>

            <div>
                <app-paginator></app-paginator>
            </div>
        </div>
        <div class="info">
            <div class="account">conexionPos@syscomp.com</div>
            <div class="cart">
                <a routerLink="/store/cart">
                    <img src="../../../assets/shopping-cart-light.svg" alt="logo" class="shopping-cart">
                </a>
                <div class="cart-counter">
                    <p class="counter">{{ counter }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
