
<h1>Editar Producto</h1>

<form action="">
    <!-- barcode -->
    <label for="">Id Producto</label>
    <input type="number">
    <!-- barcode -->
    <label for="">Codigo de barras</label>
    <input type="text">
    <!-- descripcion -->
    <label for="">Nombre del producto</label>
    <input type="text">
    <!-- Descrition_Store -->
    <label for="">Descripcion del producto</label>
    <input type="text">
    <!-- preciodeventa -->
    <label for="">Precio de venta</label>
    <input type="number">
    <!-- precioespecial1 -->
    <label for="">Precio especial</label>
    <input type="number">
    <!-- precioespecial2 -->
    <label for="">Segundo precio especial</label>
    <input type="number">
    <!-- costo -->
    <label for="">Costo</label>
    <input type="number">
    <!-- ultcosto -->
    <label for="">Ultimo costo</label>
    <input type="number">
</form>
